.main {
    width: 100%;
    height: 200px;
    background-color: #8c8cb1;

}
.feedbackContainer {
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
.feedbackContainer form {
    display: flex;
    flex-direction: column;

}
.contacts {
    background-color: #7cea6e;

}
.form {
    width: 250px;
}