.containerStyle {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
}

@media screen and (max-width: 802px) {
    .containerStyle {
        justify-content: center;
    }
}