.main {
    height: 100vh;
    background-color: grey;
}

.text {
    border: 10px;
    width: 300px;
    background-color: #7cea6e;
}

.photo {
    width: 300px;
    height: 300px;
    background-color: aqua;
}