$textFirstColor: #17161a;
$textSecondColor: white;
$backgroundFirstColor:#F9F9F9;
$backgroundSecondColor:#000000;
$fontFamilySegoe: "Segoe UI", sans-serif;
$fontFamilyGrotesk: "Space Grotesk", sans-serif;
